.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.container-fluid {
  min-height: 250px;
}

/* side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* shapeshift */
.ss-container {
  /*border: 1px dashed #CCC;*/
  position: relative;
  margin: 20px 0;
}
.ss-container > .movie-container {
  background: #eee;
  border: 1px dashed #CCC;
  position: absolute;
  height: 190px;
  width: 160px;
}

.movie-container {
  text-align: center;
}

.movie-container.ng-enter-stagger {
  transition-delay:150ms;

  /* prevent CSS inheritance */
  transition-duration: 0s;
}

.movie-container.ng-enter {
  -webkit-transition:0.8s linear all;
  transition:0.8s linear all;

  opacity:0;
}

.movie-container.ng-enter-active {
  opacity:1;
}

.movie-poster {
  width: 150px;
  height: 150px;
  margin: 5px 5px 0;
  background-size: cover;
  background: no-repeat center;
}

.movie-title {
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popover-section {
  margin: 0 0 10px;
}

.popover-section-title {
  font-style: italic;
  font-size: 10px;
}

.popover-section-body {
  font-weight: bold;
  font-size: 12px;
}

.pagination-container {
  text-align: center;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
